<div class="card-group">
  <div class="card" style="width: 20rem;  margin: 10px;">
    <img class="card-img-top" src="../../../assets/images/cancha1.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Cancha 1</h4>
      <p class="card-text">
          Cancha en césped sintético futbol 7 con medidas perfectas para juegos nacionales, internacionales (40m x 20m) o simplemente para hacer deporte con tus amigos.
          El alquiler de estas canchas tiene un costo de $90.000 por hora e incluye 2 balones y 14 petos.
      </p>
    </div>
  </div>

  <div class="card" style="width: 20rem; margin: 10px;">
    <img class="card-img-top" src="../../../assets/images/cancha2.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Cancha 2</h4>
      <p class="card-text">
          Cancha en césped sintético futbol 5 con medidas perfectas para juegos nacionales, internacionales (30m x 18m) o simplemente para hacer deporte con tus amigos.
          El alquiler de estas canchas tiene un costo de $70.000 por hora e incluye 2 balones y 10 petos.            
      </p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card" style="width: 20rem;  margin: 10px;">
    <img class="card-img-top" src="../../../assets/images/cancha3.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Cancha 3</h4>
      <p class="card-text">
          Canchas en césped sintético futbol 11 con medidas perfectas para juegos nacionales e internacionales (100m x 60m) o simplemente para hacer deporte con tus amigos. El alquiler de estas canchas tiene un costo de $180.000 por hora si es necesario ambas canchas pueden ser divididas y practicar futbol 9 teniendo una disponibilidad de 2 canchas más en este caso,  su alquiler tiene un costo de  $100.000 por hora y tiene incluido 2 balones y sus respectivos petos.
      </p>
    </div>
  </div>

  <div class="card" style="width: 20rem;  margin: 10px;">
    <img class="card-img-top" src="../../../assets/images/cancha4.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Cancha 4</h4>
      <p class="card-text">
          Canchas en césped sintético futbol 11 con medidas perfectas para juegos nacionales e internacionales (100m x 60m) o simplemente para hacer deporte con tus amigos. El alquiler de estas canchas tiene un costo de $180.000 por hora si es necesario ambas canchas pueden ser divididas y practicar futbol 9 teniendo una disponibilidad de 2 canchas más en este caso,  su alquiler tiene un costo de  $100.000 por hora y tiene incluido 2 balones y sus respectivos petos.
      </p>
    </div>
  </div>
</div>