
<div class="text-center">
  <h1>
    {{title}}
  </h1>
  <div class="row" style="margin-left: 20px">
    <p>Alquiler de canchas en césped sintético para fútbol 7, fútbol sala y fútbol de salon</p>
  </div>
  <div class="row justify-content-start" style="padding: 20px">
      <div class="col-6" style="margin-right: 20px">
        <img width="670px" class="rounded" src="/assets/images/logo.jpg">
      </div>
      <div class="col-4">
          <iframe src="https://wego.here.com/?map=5.05951,-75.47454,15,normal&fb_locale=es_ES" 
            width="500px" height="360px" frameborder="0"></iframe>
      </div>
    </div>
  
</div>